<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equv="X-UA-Compatible" content="IE=edge">
    <title>Gigs</title>
    <link rel="stylesheet" href="public/assets/css/styles.css">
</head>

<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal"></script>
<!-- bootstrap JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Local css -->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- local JS -->
<script src="/js/home.js"></script>
<!-- model cdn -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<body>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand title" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="posting.html">Post a Gig</a></li>
                    <li><a href="mygigs.html">My Gigs</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="mapBox">
        <p id="home">Gigs</p>
        <div id="map" style="height: 400px; width: 80%;"></div>
    </div>

    <script>

        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 16
            });
            infoWindow = new google.maps.InfoWindow;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('You are here!');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfaPl1kuxUrr3KRSesvA2F64t-x2EqXrk&callback=initMap">
    </script>
    <br>

    <div class="todolist">
        <p id="listTitle">Gigs Near You
            <p>
                <div class="container">
                    <div class="row">

                        <div class="list"></div>

                        <div class="job-button"></div>

                    </div>
                </div>
    </div>
</body>
</html>